[Unit]
Description=e-Navigation API Gateway Service
After=syslog.target docker.service

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/opt/e-nav/apiGateway/apiGateway.jar

[Install]
WantedBy=multi-user.target