<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The API Gateway Home Page">
    <meta name="author" content="Nikolaos.Vastardis@gla-rad.org">
    <title>e-Nav API Gateway</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.ico" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="container">
        <h2 class="form-signin-heading">GLA Research & Development Directorate</h2>
        <h3 class="form-signin-heading">e-Navigation Test-bed Services</h3>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tr><td><a th:href="@{${eurekaUrl}}" target="_blank">Eureka</a></td></tr>
            <tr><td><a href='./msg-broker/'>Message Broker</a></td></tr>
            <tr><td><a href='./vdes-ctrl/'>VDES Controller</a></td></tr>
            <tr><td><a href='./ckeeper/'>Certificate Keeper</a></td></tr>
            <tr><td><a href='./aton-service/'>AtoN Service</a></td></tr>
        </table>
    </div>
</body>
</html>